node_modules/
dist/
*.pptx
*.log
.env
.DS_Store

# C# / .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.suo
*.user
*.userprefs
*.pidb
*.swp
*~.nib
*.nupkg
*.snupkg
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
*.rsuser
*.sln.docstates

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
PIPFILE.lock
.pyenv
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

